# Objectives 

Review core `pandas` objects: `pandas.Series` and `pandas.DataFrame`

# `pandas`
- Python package to wrangle and analyze tabular data 
- built on top of numpy 
- core tool for data analysis in python

In [8]:
## improt pandas with standard abbreviation 
import pandas as pd 

#import numpy too!
import numpy as np

# Series 

A `panads.Series`: 

- is one of the core data structures in `pandas`
- a 1-dimensional array of *indexed* data
- will be the columns of the `pandas.DataFrame`

# Creating a pandas Series 

Several ways to create a panda series 
For now, we willc reate series using: 

```
s = pd.Series(data, index=index)
```
- `data` = numpy array (or a lsit of objects that can be converted to Numpy types
- `index` = a list of indices of same length as data

In [9]:
# ex: a pandas series from a numpy array 
# np.arrange() fucntion constructs an array of consecutive integers

np.arange(3)

array([0, 1, 2])

In [11]:
# we can use this to create a pandas series 
pd.Series(np.arange(3), index = ['a', 'b', 'c'])

a    0
b    1
c    2
dtype: int64

What kind of a parameter is `index`

A: An optional paramter, there is a default value to it.

IF we dont specify `index` the default is to start the index from 0- 

Example

In [12]:
# create a series from a list of strings with default index 
pd.Series(['EDS_220', 'EDS_222', 'EDS_223', 'EDS_242'])

0    EDS_220
1    EDS_222
2    EDS_223
3    EDS_242
dtype: object

# Operations of series 

Arithmetic operations work on series on also most Numpy functions: 

Example:

In [18]:
# Define a series
s = pd.Series([98, 73, 65], index = ['Andrea', 'Beth', 'Carolina'])
print(s, '\n') #indicates the need to leave an empty line between the two 


#divide each element in the series by 10: 
print( s/10 )

Andrea      98
Beth        73
Carolina    65
dtype: int64

Andrea      9.8
Beth        7.3
Carolina    6.5
dtype: float64

Example: create a new series with `true`/`false` values indicating whether the elements int he series satisfy a condition or not.

In [19]:
s>70

Andrea       True
Beth         True
Carolina    False
dtype: bool

This is simple -- but important! Using conditions on series is key to select data from dataframes.

# Methods and attributes for a series 

Two examples about idneitfying missing values. 

- missing values in `pandas` are represented by `np.NaN` = not a number 
- `NaN` is a type of float (decimal number is numpy)

In [20]:
np.NaN

nan

In [21]:
type(np.NaN)

float

In [22]:
# series with NAs in it: 
s = pd.Series([1, 2, np.NaN, 4, np.NaN])
s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

`hasnans` = attribute of panda series, returns `True` if there are any NAs:

In [23]:
# check if series has NAs
s.hasnans

True

`isna()` = a *method* of series, returns a series indicating which elements are NAs:

In [24]:
s.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

`bool`: `True` or `False` are **boolean values**

columns of our dataframes are the booleans 

# Dataframes 

`pandas.DataFrame`:

- most used object in `pandas`
- represents tabular data (think of a spreadsheet)
- each column is a `panda.Series`

# Creating a `pandas.DataFrame`

**Many ways of creating a dataframe*. Lets see one. 

Remember dicitonaries? They are sets of key value pairs: 
```
{ key1 : value1, 
  key2 : value2
}
```

Think of a `pd.DataFrame` as a dictionary where: 

- keys = column names 
- values = column values 

We can create a datafram eliek this:

In [29]:
# initialize dictionary with columns data, column names have to be strings
d = {'col_name_1' : np.arange(3),
     'col_name_2' : [3.1, 3.2, 3.3]
    }

d

{'col_name_1': array([0, 1, 2]), 'col_name_2': [3.1, 3.2, 3.3]}

In [30]:
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

# In place operations 
Lets rename the data frames columns. 
We can use a dataframe *method* called `rename`. 
`rename` takes in as an input a dictionary: 

```
{ 'col1_oldname' : 'col1_newname',
'col2_oldname' : 'col2_newname'}
```

In [32]:
col_names = {'col_name_1' : 'col1',
            'col_name_2' : 'col2'
           }

#rename using rename 
df.rename(columns = col_names)

   col1  col2
0     0   3.1
1     1   3.2
2     2   3.3

In [33]:
#take a look at our dataframe 
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

Nothing changed! 
`df.rename()` doesnt change the columns names *in place*, meaning it doesnt modify the obejct itself. Instead, it created a new obejct as an ouptut. 

Assign output back to dataframe to actually change it:

In [37]:
#need to reassign new object to things you wanna change 
df = df.rename(columns = col_names)
df

#dont use inplace = true

   col1  col2
0     0   3.1
1     1   3.2
2     2   3.3